@{
    ViewData["Title"] = "Add or Edit Tasks";
}

@model M06Habits.Models.ApplicationResponse

<h1>Add/Edit Task</h1>

<div class="text-center">
    <form method="post" class="form text-center">

        <label asp-for="task">Task</label> @*Required*@
        <input asp-for="task" /><br />

        <label asp-for="due_date">Due Date</label>
        <input asp-for="due_date" /><br />

        <label asp-for="quadrant">Quadrant</label>@*Required*@
        <input asp-for="quadrant" /><br />

        <label asp-for="category">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @*of a type task*@
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="completed">Completed</label>
        <select asp-for="completed">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <a asp-controller="Home" asp-action="index" class="btn btn-outline-primary">Cancel</a>
        <button type="submit" class="btn btn-outline-primary">Add Task</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>
