@{
    ViewData["Title"] = "My Tasks";
}

<div>
    <div>
        <h4 class="text-center">My Task Matrix</h4>
    </div>

    <div class="row border-left border-right border-top">
        <div class="col-2 border"></div>
        <div class="col border font-weight-bold">Urgent</div>
        <div class="col border font-weight-bold">Not Urgent</div>
    </div>

    <div class="row border-left border-right border-top">
        <div class="col-2 border font-weight-bold">Important</div>
        <div class="col border">Uno</div>
        <div class="col border">Dos</div>
    </div>

    <div class="row border">
        <div class="col-2 border font-weight-bold">Not Important</div>
        <div class="col border-right border-bottom border-left">Tres</div>
        <div class="col border-right border-bottom border-left">Cuatro</div>
    </div>
</div>