@{
    ViewData["Title"] = "My Tasks";
}

<div class="container border">
    <div class="row border-left border-right border-top">
        <div class="col border">Uno</div>
        <div class="col border">Dos</div>
    </div>

    <div class="row border">
        <div class="col border-right border-bottom border-left">Tres</div>
        <div class="col border-right border-bottom border-left">Cuatro</div>
    </div>
</div>